# OS / General Junk
.DS_Store
Thumbs.db
*.log

# Arduino / ESP8266 Files
*.elf
*.bin
*.hex
*.lst
*.map
# If you use the VS Code Arduino extension:
.vscode/arduino.json

# Android App / Gradle
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ / Android Studio IDE
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Security / Keys (VERY IMPORTANT)
*.jks
*.keystore
google-services.json
